/*---------------------------------------------*/
/*---------------------------------------------*/
input {
  outline: none;
  border: none; }

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; }

textarea {
  outline: none;
  border: none; }

textarea:focus, input:focus {
  border-color: transparent !important; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

textarea:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus:-moz-placeholder {
  color: transparent; }

textarea:focus::-moz-placeholder {
  color: transparent; }

textarea:focus:-ms-input-placeholder {
  color: transparent; }

input::-webkit-input-placeholder {
  color: #333; }

input:-moz-placeholder {
  color: #333; }

input::-moz-placeholder {
  color: #333; }

input:-ms-input-placeholder {
  color: #333; }

textarea::-webkit-input-placeholder {
  color: #333; }

textarea:-moz-placeholder {
  color: #333; }

textarea::-moz-placeholder {
  color: #333; }

textarea:-ms-input-placeholder {
  color: #333; }

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent; }

button:hover {
  cursor: pointer; }

iframe {
  border: none !important; }

.container-contact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 1; }

/*.contact-map {
  position: absolute;
  z-index: -2;
  width: calc(100% - 640px);
  height: 100%;
  top: 0;
  left: 0;
}*/
.wrap-contact {
  min-height: 100vh;
  width: 500px;
  border-radius: 2px;
  padding: 82px 55px 33px 55px;
  position: relative;
  text-align: left; }

.show-wrap-contact {
  visibility: visible;
  opacity: 1; }

/*==================================================================
[ Form ]*/
.contact-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 68px; }

.contact-form-title {
  display: block;
  width: 100%;
  font-size: 39px;
  color: #0f0f0f;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 64px; }

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 15px; }

.label-input {
  line-height: 1.2;
  padding-left: 2px; }

.input {
  display: block;
  width: 100%;
  background: transparent;
  color: #555555;
  line-height: 1.2;
  padding: 0 2px; }

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; }

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #ffd942;
  background: -webkit-linear-gradient(45deg, #ffd942, #eee);
  background: -o-linear-gradient(45deg, #ffd942, #eee);
  background: -moz-linear-gradient(45deg, #ffd942, #eee);
  background: linear-gradient(45deg, #ffd942, #eee); }

/*---------------------------------------------*/
input.input {
  height: 50px; }

textarea.input {
  min-height: 140px;
  padding-top: 13px;
  padding-bottom: 13px; }

.input:focus + .focus-input::before {
  width: 100%; }

.has-val.input + .focus-input::before {
  width: 100%; }

/*------------------------------------------------------------------
[ Button ]*/
.container-contact-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.wrap-contact-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden; }

.contact-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #ffd942;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-size: 16px;
  color: #333;
  line-height: 1.2; }

.wrap-contact-form-btn:hover .contact-form-bgbtn {
  left: 0; }

/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {
  position: relative; }

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 30px 4px 10px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s; }

.alert-validate::after {
  content: "\f06a";
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 8px; }

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1; }

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1; } }

.true-validate::after {
  content: "\f26b";
  font-size: 22px;
  color: #00ad5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc((100% - 25px) / 2);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
  transform: translateY(50%);
  right: 5px; }

@media (max-width: 576px) {
  .wrap-contact {
    padding: 82px 15px 33px 15px;
    width: 300px; } }

@media (max-width: 768px) {
  .wrap-contact {
    width: 300px;
    padding: 82px 15px 33px 15px; } }

body {
  font-family: "Work Sans", sans-serif;
  color: #565656; }

.header {
  margin: 0px 50px; }

.nav-link {
  color: #565656; }

.logo {
  width: 82px; }

.icons {
  width: 20px; }

.pipe {
  width: 1px;
  background-color: #e8e8e8;
  height: 25px;
  margin: 0px 40px;
  float: left; }

.navbar .nav-item .nav-link {
  padding-left: 30px; }

.search {
  padding-top: 5px; }

/*.carousel-inner {height:370px;}*/
.header-main {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  color: white; }

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity; }

.carousel-fade .carousel-inner .active {
  opacity: 1; }

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.header-title h1 {
  font-size: 5rem; }

.header-title p {
  font-size: 1rem;
  margin: 0 !important; }

@media (max-width: 640px) {
  .header-title h1 {
    font-size: 2rem; } }

.container {
  padding-top: 60px;
  max-width: 570px; }

.uppercase {
  text-transform: uppercase; }

.block-text-1 {
  font-weight: 500;
  color: #333; }

.block-text-2 {
  padding-top: 40px;
  font-size: 0.9rem; }

.block-text-3 {
  padding-top: 40px;
  font-size: 0.9rem; }

.block-text-3 h5 {
  color: #0f0f0f; }

.block-text-5 h5 {
  color: #0f0f0f; }

.block-text-4 {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #e8e8e8; }

blockquote::before {
  content: '';
  display: block;
  background: url("../img/icons/block.jpg") no-repeat;
  width: 50px;
  height: 50px;
  float: left; }

blockquote p {
  font-family: Times, serif;
  font-size: 1rem;
  font-style: italic;
  color: #333; }

.blockquote-footer {
  padding-top: 30px; }

.block-text-5 {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #e8e8e8;
  font-size: 0.9rem; }

.block-text-6 {
  margin-top: 40px;
  padding: 10px 0 0 0;
  font-size: 0.8rem; }

.block-text-6 table th {
  font-weight: 100;
  color: #c0c0c0; }

.block-text-6 table {
  border: 1px solid #e8e8e8;
  line-height: 2; }

.block-text-6 table thead {
  border-bottom: solid 1px #e8e8e8; }

.block-text-7 {
  padding-top: 40px;
  font-size: 0.9rem; }

.block-text-section h3 {
  color: #0f0f0f; }

.block-text-section {
  margin-top: 75px;
  padding-top: 75px;
  border-top: 1px solid #e8e8e8;
  padding-left: 60px;
  padding-right: 60px; }

.block-text-section h3 {
  padding-bottom: 40px; }

.block-text-section .pill p {
  color: #c0c0c0;
  font-size: 0.7rem; }

.block-text-section .pill span {
  color: #0f0f0f; }

.block-text-section .pill a {
  color: #0f0f0f; }

.block-text-section .pill a img {
  width: 12px;
  height: 12px;
  margin-left: 10px; }

.block-text-footer {
  margin-top: 70px;
  padding-top: 55px;
  border-top: 1px solid #e8e8e8;
  margin: 0 50px 0 0; }

.block-text-footer .col.lg-8 ul {
  padding-top: 8px; }

.block-text-footer p {
  color: #c0c0c0;
  font-size: 0.8rem;
  margin-top: 40px; }

.row-modal > .column-modal {
  padding: 0 8px; }

.row-modal:after {
  content: "";
  display: table;
  clear: both; }

.column-modal {
  float: left; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
  opacity: 0.9; }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 70%;
  max-width: 80%;
  text-align: center;
  background-color: white;
  border: 0px; }

/* The Close Button */
.close {
  color: main-font-color;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer; }

.mySlides {
  display: none; }

.cursor {
  cursor: pointer; }

.pointer {
  cursor: pointer; }
