$blockquote-font: Times, serif;
$main-font: 'Work Sans', sans-serif;
$font-color : #565656;
$font-color-title:white;
$main-font-color: #333;
$line-color : #e8e8e8;
$pipe-color : #e8e8e8;
$title-color : #0f0f0f;
$table-title-color: #c0c0c0;
$pill-travel-color: #c0c0c0;
$cp-color: #c0c0c0;
$modal-bg-color:white;
$layout-padding:40px;
$layout-margin:40px;
$layout-font-size:0.9rem;

@import 'form';

body{
    font-family: $main-font;
    color: $font-color
}

.header{
    margin: 0px 50px;
}
.nav-link{color: $font-color;}

.logo{width: 82px;}
.icons{ width: 20px;}

.pipe{
    width: 1px;
    background-color: $pipe-color;
    height:25px;
    margin:0px $layout-margin;
    float: left;
}

.navbar .nav-item .nav-link{
    padding-left: 30px;  
}
.search{
    padding-top: 5px;
}

.header-main{
    
    position: absolute;
    top:25%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: $font-color-title;
   

}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
  }
  
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  @media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}


.header-title h1{font-size: 5rem;}
.header-title p{font-size: 1rem;margin: 0!important;}
@media(max-width:640px){
    .header-title h1{font-size: 2rem;}
}
.container {
    padding-top: 60px;
    max-width: 570px;

}

.uppercase {
    text-transform: uppercase;
}
.block-text-1{
    font-weight: 500;
    color: $main-font-color;
}
.block-text-2{
    padding-top: $layout-padding;
    font-size: $layout-font-size;
}
.block-geography{
    padding-top: $layout-padding;
    font-size: $layout-font-size;
}
.block-geography h5{color:$title-color;}

.block-quote{
    margin-top: $layout-margin;
    padding-top: $layout-padding;
    border-top:1px solid $line-color;
    
}
blockquote::before {
    content: '';
    display: block;
    background: url("../img/icons/block.jpg") no-repeat;
    width: 50px;
    height: 50px;
    float: left;
}
blockquote p {
    font-family:  $blockquote-font;
    font-size: 1rem;
    font-style: italic;
    color: $main-font-color;
}
.blockquote-footer {padding-top: 30px;}
.block-main-islands{
    margin-top: $layout-margin;
    padding-top: $layout-padding;
    border-top:1px solid $line-color;
    font-size: $layout-font-size;
}
.block-main-islands h5{color:$title-color;}
.block-table{
    margin-top: $layout-margin;
    padding: 10px 0 0 0;
    font-size: 0.8rem;
}
.block-table table th{ 
    font-weight: 100;
    color:$table-title-color;
}
.block-table table {
   border:1px solid $line-color;
   line-height: 2;
}
.block-table table thead{
    border-bottom: solid 1px $line-color;
}
.block-text-7{
     padding-top: $layout-padding;
    font-size: $layout-font-size;
}

.block-latest-post h3{
   color:$title-color;
}
.block-latest-post{
    margin-top: 75px;
    padding-top: 75px;
    border-top:1px solid $line-color;
    padding-left: 60px;
    padding-right: 60px;
}
.block-latest-post h3{
    padding-bottom: $layout-padding;
}

.block-latest-post .pill p{
    color: $pill-travel-color;  
    font-size: 0.7rem; 
}
.block-latest-post .pill span{
    color: $title-color;  
   
}
.block-latest-post .pill a{color:$title-color;}
.block-latest-post .pill a img{
    width:12px;
    height: 12px;
    margin-left: 10px;
}

.block-text-footer{
    margin-top: 70px;
    padding-top: 55px;
    border-top:1px solid $line-color;
    margin-left: 20px;
}

.block-text-footer .col.lg-8 ul{
    padding-top: 8px;
}

.block-text-footer p {
    color: $cp-color;
    font-size: 0.8rem;
    margin-top: $layout-margin; 
}


//modal
.row-modal > .column-modal {
    padding: 0 8px;
  }
  
  .row-modal:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column-modal {
    float: left;
    
  }
  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $modal-bg-color;
    opacity: 0.9;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 70%;
    max-width: 80%;
    text-align: center;
    background-color: white;
   border:0px;
  }
  
  /* The Close Button */
  .close {
    color: $main-font-color;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: $font-color;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  

.pointer{
    cursor: pointer;
}  

